html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /* Asegura que el main ocupe el espacio restante entre el header y el footer */
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
}