{% extends 'templateBase.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Bienvenidos al Sistema de Gestión de Ventas de Celulares</h1>
    <p>Este sistema ha sido desarrollado para gestionar de manera eficiente las operaciones de venta de celulares, permitiendo a los usuarios administrar diferentes aspectos del negocio desde un solo lugar.</p>
    
    <h2 class="mt-4">Funcionalidades Principales</h2>
    <ul class="list-group">
        <li class="list-group-item">Gestión de Equipos: Permite agregar y modificar</li>
        <li class="list-group-item">Administración de Categorías: Gestión de categorías</li>
        <li class="list-group-item">Modelos y Fabricantes: Información detallada de modelos y fabricantes.</li>
        <li class="list-group-item">Control de Stock: Seguimiento de las cantidades disponibles y su ubicación.</li>
        <li class="list-group-item">Gestión de Proveedores: Información de contacto y detalles de proveedores.</li>
        <li class="list-group-item">Accesorios: Administración de accesorios compatibles con los equipos.</li>
    </ul>
    
    <h2 class="mt-4">Cómo Usar el Sistema</h2>
    <p>Navega a través del menú superior para acceder a las distintas secciones del sistema. Cada sección te permitirá realizar acciones específicas, como ver listados, añadir nuevos registros, o editar información existente.</p>

    <h2 class="mt-4">Tecnologías Utilizadas</h2>
    <p>Este proyecto ha sido desarrollado utilizando:</p>
    <ul class="list-group">
        <li class="list-group-item">Flask: Microframework para el desarrollo web en Python.</li>
        <li class="list-group-item">Flask-SQLAlchemy: Gestión de la base de datos con SQLAlchemy.</li>
        <li class="list-group-item">Flask-Migrate: Herramienta para migraciones de bases de datos.</li>
        <li class="list-group-item">Bootstrap: Framework para el diseño responsive y estilizado de la interfaz de usuario.</li>
    </ul>
</div>
    
{% endblock %}