{% extends 'templateBase.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Crear un nuevo tipo</h4>
            <form action="" method="post">
                <input type="text" class="form-control mb-2" placeholder="Nombre del tipo" name="nombre">
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-6">
            <h4>Listado de tipos</h4>
            {% for tipo in tipos %}
            <li>
                <a href="/tipo/{{tipo.id}}/celulares">{{tipo.nombre}}</a> <a href="/tipo/{{tipo.id}}/editar">Editar</a>
            </li>
            {% endfor %}
        </div>
    </div>
</div>    
    
{% endblock %}